<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load custom_tags %}
{% block HEADERSECTION %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Pleasantville Country Club</title>
<link rel="stylesheet" type="text/css" href="/publicsite/media/style.css" />
<script type="text/javascript">
<!--
    function toggle_visibility(id) {
        //alert(id);
       var e = document.getElementById(id);
       //alert(e);
       if(e.style.display == '')
          e.style.display = 'none';
       else
          e.style.display = '';
    }
//-->
</script>

</head>
<body>

<div id="container">

<div id="top"></div>
<div id="left">

<h2>Navigation</h2>
<div class="hr">
<hr />
</div>
<p class="side">
{% block LEFTNAV %}
<a href="{% url tools.views.index %}">&rarr; Home</a><br />
<a href="{% url tools.views.calendar %}">&rarr; Calendar</a><br />
<a href="{% url tools.views.newsitem %}">&rarr; Club News</a><br />
<a href="/bogeys">&rarr; Bogey's</a><br />
<a href="/rates">&rarr; Rates/Membership</a><br />
<a href="/hours">&rarr; Hours</a><br />
<a href="/rules">&rarr; Rules</a><br />
<a href="/clubdocuments">&rarr; Club Documents</a><br />
<a href="{% url tools.views.newsletters %}">&rarr; Newsletters</a><br />
<a href="/contact">&rarr; Contact Us</a><br />
<a href="/publicsite/handicalc9" target="_blank">&rarr; Handicap Login</a><br />
{% endblock LEFTNAV %}
</p><br />
    <h2>Quote</h2>
        <div class="hr">
        <hr />
        </div>
        
    <p class="side">
    <span class="NineHoleScoreFont">{% get_random_quote %}</span>
    </div>
{% endblock %}
    
    
<div id="main">

<div id="paragraphtext">
{% block CONTENT %}
{% endblock CONTENT %}
</div>
</div>
<div id="footer"></div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12551082-3");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
