{% extends "admin/base_site.html" %}

{% block title %}Administration Instructions{% endblock %}
{% block content_title %}<h1>Administration Instructions</h1>{% endblock %}
{% block content %}
    Here is a list of stuff you can do on your website.  Click the link that describes what you want to do and read the instructions.  If you want to do something, and do not see that something described, use the contact information and we will help.  Also, all of these instructions assume you are within the admin console of your club's website (www.yourclub.com/admin)

    <br><br>
    Before we get to the section about what you can do, let's make sure we cover the things you have to do in order for the handicap system to function properly.  The following items must be completed before the start of every golf season.
    <ul>
    <li><a href="#7">Define the upcoming season by entering the season start and end dates.</a>
    <li><a href="#8">Define the upcoming season by entering the handicap revision dates.</a>
    </ul>


    <br><br>What do you want to do?
    <ul>
    <li><a href="#1">Change the text of a page.</a>
    <li>Add, update or delete a(n)...
    <ul>
        <li><a href="#2">event:</a>
        <li><a href="#3">member:</a>
        <li><a href="#4">news item:</a>
        <li><a href="#5">newsletter:</a>
        <li><a href="#6">club document:</a>
    </ul>
    <li><a href="#7">Define the upcoming season by entering the start and end dates.</a>
    <li><a href="#8">Define the upcoming season by entering the handicap revision dates.</a>
    <li><a href="#9">Enter a score for a golfer.</a>
    <li><a href="#10">Peer review golf scores.</a>
    <li><a href="#11">Print a 20 score history for every member.</a>
    <li><a href="#12">Print a handicap history for every member.</a>
    <li><a href="#13">Contact support. </a>
    </ul><br><br>
    
    
    <br><br><a name="1">Change the text of a page.</a>
        <ol>
        <li>Click on the Flatpages link.  
        <li>Click on the page you would like to change.  
        <li>Make the text changes to the title or content, do not change the URL or SITE. 
        <li>Click the save button.  The changes should now show up on the main site.
       </ol>

       <br><br>
       
    Add, update or delete a(n)... <br>
    <ul>
    <li><a name="2">Event:</a>
        <ul>
            <li>add:
                <ul>  
                    <li>Click the add link to the right of the Events link on the main page.</li>
                    <li>Enter the appropriate information, bold items are required.</li>
                    <li>Click the save button.  The event should now show up on the main site.</li>
                </ul>
            </li>

            <li>update:  
                <ul>
                    <li>Click the change link to the right of the Events link on the main page.</li>
                    <li>Click on the event you want to change.</li>
                    <li>Enter the appropriate information, bold items are required.</li>
                    <li>Click the save button.  The changes should now show up on the main site.</li>
                </ul>
            </li>

            <li>delete:  
                <ul>
                    <li>Click the Events link on the main page.</li>
                    <li>Click on the event you want to delete.</li>
                    <li>Click the delete link at the bottom of the page.</li>
                </ul>
        </ul>

    <li><a name="3">Member:</a>
    <ul>
        <li>add:  
        <ul>
            <li>Click the add link to the right of the Members link on the main page
            <li>Enter the appropriate information, bold items are required.
            <li>Click the save button. 
        </ul>

        <li>update:  
        <ul>
            <li>Click the change link to the right of the Members link on the main page.
            <li>Click on the member you want to change.
            <li>Enter the appropriate information, bold items are required.
            <li>Click the save button.
        </ul>
         
        <li>delete:  
        <ul>
            <li>Click the Members link on the main page.
            <li>Click on the member you want to delete.
            <li>Click the delete link at the bottom of the page.
        </ul>
    </ul>

    <li><a name="4">News Item:
    <ul>
        <li>add:  
        <ul>
            <li>Click the add link to the right of the New Items link on the main page
            <li>Enter the appropriate information, bold items are required.
            <li>Click the save button.  The news item should now show up on the main site. 
        </ul>

        <li>update:  
        <ul>
            <li>Click the change link to the right of the News Items link on the main page.
            <li>Click on the news item you want to change.
            <li>Enter the appropriate information, bold items are required.
            <li>Click the save button.  The changes should now show up on the main site.
        </ul>
         
        <li>delete:  
        <ul>
            <li>Click the News Items link on the main page.
            <li>Click on the News Item you want to delete.
            <li>Click the delete link at the bottom of the page.
        </ul>
    </ul>
        

    <li><a name="5">Newsletter:
    <ul>
        <li>add:  
        <ul>
            <li>Click the add link to the right of the Newsletters link on the main page
            <li>Enter the appropriate information, bold items are required.  You will be prompted to browse for the newsletter on your local pc.
            <li>Click the save button.  The newsletter should now show up on the main site. 
        </ul>

        <li>update:  
        <ul>
            <li>Click the change link to the right of the Newsletters link on the main page.
            <li>Click on the newsletter you want to change.
            <li>Enter the appropriate information, bold items are required.  If you are uploading a new version of a newsletter you will be prompted to browse for the newsletter on your local pc.
            <li>Click the save button.  The changes should now show up on the main site.
        </ul>
         
        <li>delete:  
        <ul>
            <li>Click the Newsletters link on the main page.
            <li>Click on the newsletter you want to delete.
            <li>Click the delete link at the bottom of the page.
        </ul>
    </ul>

    <li><a name="6">Club Document:
    <ul>
        <li>add:  
        <ul>
            <li>Click the add link to the right of the Club Documents link on the main page
            <li>Enter the appropriate information, bold items are required.  You will be prompted to browse for the club document on your local pc.
            <li>Click the save button.  The club document should now show up on the main site. 
        </ul>

        <li>update:  
        <ul>
            <li>Click the change link to the right of the Club Documents link on the main page.
            <li>Click on the club document you want to change.
            <li>Enter the appropriate information, bold items are required.  If you are uploading a new version of a club document you will be prompted to browse for the newsletter on your local pc.
            <li>Click the save button.  The changes should now show up on the main site.
        </ul>
         
        <li>delete:  
        <ul>
            <li>Click the Club Documents link on the main page.
            <li>Click on the club document you want to delete.
            <li>Click the delete link at the bottom of the page.
        </ul>
    </ul>
    </ul>

    <br><br>
    <a name="7">Define the upcoming season by entering the start and end dates.</a><ol>
        <li>Click the add link to the right of the Seasons link on the main page 
        <li>Enter the appropriate information, bold items are required.  
        <li>Click the save button.  The season has been added to the system.  To check click the Seasons link on the main page and make sure the season you added is displayed in the list of seasons.
        </ol>

    <br><br>        
    <a name="8">Define the upcoming season by entering the handicap revision dates.</a><ol>
        <li>For each handicap revision date in the upcoming season click the add link to the right of the Handicap revision dates link on the main page.  For a list of handicap revision dates visit www.iowagolf.org
        <li>Enter the appropriate information, bold items are required.  
        <li>Click the save button.  The handicap revision date has been added to the system.  To check, click the Handicap revision dates link on the main page and make sure the revision date you added is displayed in the list of handicap revision dates.
        </ol>
        
    <br><br>        
    <a name="9">Enter a score for a golfer.</a><ol>
        <li>Click Enter Golfer Scores on the main page
        <li>Click the login button to the right of the golfer you want to enter a score for.
        <li>Click quick score next to the appropriate golf course.
        <li>Enter the score.
        <li>Click save score.
        </ol>

    <br><br>        
    <a name="10">Peer review golf scores.</a><ol>
        <li>Click Peer/Score Review on the main page.
        <li>Click the view link to the right of the golfer whose scores you would like to review or choose a time period for which to review all golfers scores.
        </ol>

    <br><br>        
    <a name="11">Print a 20 score history for every member.</a><ol>
        <li>Click Print Score History on the main page.
        <li>You will be prompted to open a *.csv file with the default application on your local computer, most likely excel.
        <li>The opened file will contain a 20 score history for every member.
        </ol>

    <br><br>        
    <a name="12">Print a handicap history for every member.</a><ol>
        <li>Click Print Handicap History on the main page.
        <li>You will be prompted to open a *.csv file with the default application on your local computer, most likely excel.
        <li>The opened file will contain the handicap history for every member.
        </ol>

    <br><br>        
    <a name="13">Contact support.</a><ol>
        <li>Click Contact Support on the main page.
        <li>Use the information on the page to contact support, i.e. email, phone, address, etc...
        </ol>

{% endblock %}

